@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    font-family: "Roboto", serif !important;
}
.express {
    width: 150px;
    height: 150px;
}

.border.border-dotted {
    border-style: dotted !important;
}

.menu-divider {
    background-image: url(https://www.pumpernickels.ca/images/angular_divisor.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.menu-item:hover {
    background: var(--bs-gray-200) !important;
}

.object-position-center{
    object-position: center;
}

.product-card:hover .product-name{
    color: #fff;
    background-color: var(--bs-warning);
}
.bg-dark-50{
    background-color: rgba(0, 0, 0, 0.5);
}


.warning-border {
    border-left: 15px solid var(--bs-warning);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
}

.warning-border-left {
    border-left: 15px solid var(--bs-black);
    border-top: 28px solid transparent;
    border-bottom: 28px solid transparent;
    background-color: var(--bs-warning);
}

.flex-1{
    flex: 1;
}