.express {
    width: 150px;
    height: 150px;
}

.border.border-dotted {
    border-style: dotted !important;
}

.menu-divider {
    background-image: url(https://www.pumpernickels.ca/images/angular_divisor.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}